@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

.mybike {
    width: 100vw;
    height: 500px;
    border: 2px solid;
    background-image: url("https://images.pexels.com/photos/30858961/pexels-photo-30858961.jpeg");
    background-size:100vw 500px;
    background-repeat: no-repeat;
}

#yourbike {
    position: absolute;
    left: 15px;
    font-weight: bold;
    color: #FAF9EE;
    text-shadow: 1px 1px 2px black;
    font-size: 50px;
}

.aboutus {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 75px;

}

.box5 {
    margin-top: 10px;
    width: 100vw;
    height: 60vh;
    display: flex;
    text-align: center;

    gap: 50px;
}

.box5 img {
    width: 40vw;
    height: 55vh;
    border-radius: 25px;

    margin-top: 25px;

}

.para {
    width: 800px;
    margin-left: 10px;
    font-family: "Libertinus Sans", sans-serif;
    font-size: 18px;

}

.para h1 {
    font-weight: bold;
    color: #222831;
    text-shadow: 0px 7px 8px #273F4F;


}

.paragraphs {
    width: 800px;
    margin-left: 10px;
    font-family: "Libertinus Sans", sans-serif;
    font-size: 18px;
     margin-top: 100px;
}

.paragraphs h1 {
    font-weight: bold;
    color: #222831;
    text-shadow: 0px 7px 8px #273F4F;
}

.box6 {
    margin-top: 10px;
    width: 100vw;
    height: 60vh;
    display: flex;
    text-align: center;

    gap: 50px;

}
.box6 img {
    width: 40vw;
    height: 55vh;
    border-radius: 25px;

    margin-top: 25px;
    margin-left: 14px;

}