footer{
    height: 100px;
    width: 100vw;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 220vh;
}
.footer {
    padding: 40px;
}    
